.example-spacer {
    flex: 1 1 auto;
  }
  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}
// table {
//   width: 100%;
// }

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.sbtn{
  width: 100%;
  border-bottom: 2px solid white;
  border-radius: px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}